# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.dockerignore
Dockerfile
npm-debug.log
./codebase/.gitignore
./codebase/.git
./codebase/README.md
./codebase/node_modules
